<div class="pagina_lista_e_logo">
  <div class="fade-container-principal">
    <img src="assets/frente.jpg" alt="Imagem" class="moving-image-principal">
  </div>
  <div class="search" style="margin-top: -300px;">
    <input class="form-input" type="text" [(ngModel)]="termoDePesquisa" (input)="filtrarDados()" placeholder="Pesquisar...">
    <!-- <input class="form-input" type="text" [(ngModel)]="searchText" onfocus="customFilter(searchText)" placeholder="Pesquisar..."> -->
    <!-- <input matInput name="search" [(ngModel)]="searchText" placeholder="Pesquisar..."> -->
    <!-- <button (click)="onFileChange($event)">Deploy planilha</button> -->
    <!-- <button (click)="onFileChange($event)">Deploy planilha</button> -->
    <!-- <input type="file" placeholder="Planilha" (change)="onFileSelected($event)" id="xlsxFileInput"> -->
    <!-- <ul>
          <li *ngFor="let item of produtosGeral">
            {{item.categotia}}
            {{item.produto}}
            {{item.cod}}
            {{item.custo}}
            {{item.forncedor}}
          </li>
        </ul>  -->
    <div class="table-container my-component">
      <div>
        <table class="table table-container">
          <thead>
            <tr>
              <th>CODIGO</th>
              <th>CATEGORIA</th>
              <th>PRODUTO</th>
              <th>CUSTO</th>
              <th>FORNECEDOR</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableData">
              <td>{{item.cod}}</td>
              <td>{{item.categoria}}</td>
              <td>{{item.produto}}</td>
              <td>{{item.custo}}</td>
              <td>{{item.fornecedor}}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- </div> -->
      <div class="produtos">

      </div>

    </div>

    <!-- <div class="table-container my-component">  
        
          <div id="listaProdutos" name="listaProdutos">
            <table *ngIf="tableData" class="table">
              <thead>
                <tr>
                  <th *ngFor="let header of tableHeaders">{{ header }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of filteredTableData">
                  <td *ngFor="let cell of row">{{ cell }}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div> -->
  </div>